In [73]:
import pandas as pd
import numpy as np
import ast
import pickle

#!pip install sklearn

In [2]:
!pip install nltk

Requirement already satisfied: nltk in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (3.6.7)
Requirement already satisfied: click in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from nltk) (7.1.2)
Requirement already satisfied: joblib in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from nltk) (1.1.0)
Requirement already satisfied: regex>=2021.8.3 in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from nltk) (2021.11.10)
Requirement already satisfied: tqdm in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from nltk) (4.62.3)
WARNING: You are using pip version 21.0.1; however, version 21.3.1 is available.
You should consider upgrading via the '/Library/Frameworks/Python.framework/Versions/3.8/bin/python3.8 -m pip install --upgrade pip' command.

In [3]:
tmdb_movies = pd.read_csv('data/tmdb_5000_movies.csv')
tmdb_credits = pd.read_csv('data/tmdb_5000_credits.csv')

In [4]:
tmdb_movies.head()

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2007-05-19,961000000,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500
2,245000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.sonypictures.com/movies/spectre/,206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",en,Spectre,A cryptic message from Bond’s past sends him o...,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...","[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""...",2015-10-26,880674609,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466
3,250000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",http://www.thedarkknightrises.com/,49026,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-07-16,1084939099,165.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The Legend Ends,The Dark Knight Rises,7.6,9106
4,260000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://movies.disney.com/john-carter,49529,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}]","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-03-07,284139100,132.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"Lost in our world, found in another.",John Carter,6.1,2124

In [5]:
tmdb_credits.head()

,movie_id,title,cast,crew
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [6]:
tmdb_movies = tmdb_movies.merge(tmdb_credits,on='title')

In [7]:
tmdb_movies.shape

(4809, 23)

In [8]:
tmdb_movies.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4809 entries, 0 to 4808
Data columns (total 23 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   budget                4809 non-null   int64
 1   genres                4809 non-null   object
 2   homepage              1713 non-null   object
 3   id                    4809 non-null   int64
 4   keywords              4809 non-null   object
 5   original_language     4809 non-null   object
 6   original_title        4809 non-null   object
 7   overview              4806 non-null   object
 8   popularity            4809 non-null   float64
 9   production_companies  4809 non-null   object
 10  production_countries  4809 non-null   object
 11  release_date          4808 non-null   object
 12  revenue               4809 non-null   int64
 13  runtime               4807 non-null   float64
 14  spoken_languages      4809 non-null   object
 15  status                4809 non-null   object
 16  tagline               3965 non-null   object
 17  title                 4809 non-null   object
 18  vote_average          4809 non-null   float64
 19  vote_count            4809 non-null   int64
 20  movie_id              4809 non-null   int64
 21  cast                  4809 non-null   object
 22  crew                  4809 non-null   object
dtypes: float64(3), int64(5), object(15)
memory usage: 901.7+ KB

In [9]:
columns = ['genres','id','keywords','title','overview','cast','crew']

tmdb_movies = tmdb_movies[columns]

In [10]:
tmdb_movies.head(1)

,genres,id,keywords,title,overview,cast,crew
0,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",Avatar,"In the 22nd century, a paraplegic Marine is di...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

In [11]:
tmdb_movies.isnull().sum()

genres      0
id          0
keywords    0
title       0
overview    3
cast        0
crew        0
dtype: int64

In [12]:
tmdb_movies.dropna(inplace=True)

In [13]:
tmdb_movies.duplicated().sum()

0

We have to convert the values from the genres column to much simpler text like Action. Adventure etc as that's what we would need. We can ignore the id column here as it's not required. So, let's define a function (simplify) to do this job for us.

In [14]:
tmdb_movies.iloc[0].genres

'[{"id": 28, "name": "Action"}, {"id": 12, "name": "Adventure"}, {"id": 14, "name": "Fantasy"}, {"id": 878, "name": "Science Fiction"}]'

In [15]:
def simplify(obj,key_to_use):
    l = []
    for i in ast.literal_eval(obj):
        l.append(i[key_to_use])
    return l

def simplify_3(obj,key_to_use):
    l = []
    count=0
    for i in ast.literal_eval(obj):
        if count != 3:
            l.append(i[key_to_use])
            count+=1
        else:
            break
    return l

def get_crew(obj,job_title,key_to_fetch):
    l = []
    for i in ast.literal_eval(obj):
        if i['job']==job_title:
            l.append(i[key_to_fetch])
            break
    return l

In [16]:
tmdb_movies['genres']=tmdb_movies['genres'].apply(simplify, args=['name'])

In [17]:
tmdb_movies['keywords']=tmdb_movies['keywords'].apply(simplify, args=['name'])

In [18]:
tmdb_movies['cast']=tmdb_movies['cast'].apply(simplify_3, args=['name'])

In [19]:
tmdb_movies['crew']=tmdb_movies['crew'].apply(get_crew, args=['Director','name'])

In [20]:
tmdb_movies.head(1)

,genres,id,keywords,title,overview,cast,crew
0,"[Action, Adventure, Fantasy, Science Fiction]",19995,"[culture clash, future, space war, space colon...",Avatar,"In the 22nd century, a paraplegic Marine is di...","[Sam Worthington, Zoe Saldana, Sigourney Weaver]",[James Cameron]

In [21]:
tmdb_movies['overview'] = tmdb_movies['overview'].apply(lambda x:x.split())

In [22]:
tmdb_movies['genres'] = tmdb_movies['genres'].apply(lambda x:[i.replace(" ","") for i in x])
tmdb_movies['keywords'] = tmdb_movies['keywords'].apply(lambda x:[i.replace(" ","") for i in x])
tmdb_movies['cast'] = tmdb_movies['cast'].apply(lambda x:[i.replace(" ","") for i in x])
tmdb_movies['crew'] = tmdb_movies['crew'].apply(lambda x:[i.replace(" ","") for i in x])

In [23]:
tmdb_movies['tags'] = tmdb_movies['overview'] + tmdb_movies['genres'] + tmdb_movies['keywords'] + tmdb_movies['cast'] + tmdb_movies['crew']

In [24]:
tmdb_movies.head(1)

,genres,id,keywords,title,overview,cast,crew,tags
0,"[Action, Adventure, Fantasy, ScienceFiction]",19995,"[cultureclash, future, spacewar, spacecolony, ...",Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...","[SamWorthington, ZoeSaldana, SigourneyWeaver]",[JamesCameron],"[In, the, 22nd, century,, a, paraplegic, Marin..."

In [25]:
movies = tmdb_movies[['id', 'title', 'tags']]

In [26]:
movies.head(1)

      id   title                                               tags
0  19995  Avatar  [In, the, 22nd, century,, a, paraplegic, Marin...

In [27]:
movies['tags'] = movies['tags'].apply(lambda x:" ".join(x))

/var/folders/40/s1y2tk9s1lg1gxbk041r8mhm0000gp/T/ipykernel_8063/2975052693.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies['tags'] = movies['tags'].apply(lambda x:" ".join(x))

In [28]:
movies['tags'] = movies['tags'].apply(lambda x:x.lower())

/var/folders/40/s1y2tk9s1lg1gxbk041r8mhm0000gp/T/ipykernel_8063/1170348455.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies['tags'] = movies['tags'].apply(lambda x:x.lower())

In [29]:
movies.head(1)

      id   title                                               tags
0  19995  Avatar  in the 22nd century, a paraplegic marine is di...

In [30]:
movies.rename(columns={'id':'movie_id'})

,movie_id,title,tags
0,19995,Avatar,"in the 22nd century, a paraplegic marine is di..."
1,285,Pirates of the Caribbean: At World's End,"captain barbossa, long believed to be dead, ha..."
2,206647,Spectre,a cryptic message from bond’s past sends him o...
3,49026,The Dark Knight Rises,following the death of district attorney harve...
4,49529,John Carter,"john carter is a war-weary, former military ca..."
...,...,...,...
4804,9367,El Mariachi,el mariachi just wants to play his guitar and ...
4805,72766,Newlyweds,a newlywed couple's honeymoon is upended by th...
4806,231617,"Signed, Sealed, Delivered","""signed, sealed, delivered"" introduces a dedic..."
4807,126186,Shanghai Calling,when ambitious new york attorney sam is sent t...
4808,25975,My Date with Drew,ever since the second grade when he first saw ...

Now that we have the final version of our dataframe, we can get started with vectorisation of the tags. Using this, we'll try to find the similarity between the different tags and suggest the closest movies to the selected movie.

However, we need to first remove the stopwords from the tags (is, in, of etc..) as they'll be present in almost every sentence and should not be considered to derive similarity

In [31]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(max_features=1000, stop_words='english')

In [43]:
vectors = cv.fit_transform(movies['tags']).toarray()


Using CountVectorizer, we can check what the most repeated features from our corpus. Let's see what they are

In [40]:
cv.get_feature_names_out()

array(['000', '10', '1950', '1970', '3d', 'abandon', 'abus', 'accept',
       'accid', 'accident', 'act', 'action', 'actor', 'actual', 'adapt',
       'addict', 'adopt', 'adulteri', 'adventur', 'affair', 'affect',
       'africa', 'african', 'aftercreditssting', 'age', 'agent', 'ago',
       'agre', 'aid', 'airplan', 'alcohol', 'alex', 'alien', 'alive',
       'alli', 'allow', 'alway', 'america', 'american', 'ancient',
       'angel', 'angeles', 'ani', 'anim', 'anoth', 'answer', 'anyth',
       'apart', 'apocalypt', 'appear', 'arm', 'armi', 'arrest', 'arriv',
       'art', 'artist', 'ask', 'aspir', 'assassin', 'assign', 'assist',
       'astronaut', 'attack', 'attempt', 'attract', 'author', 'away',
       'babi', 'bad', 'band', 'bank', 'bar', 'base', 'basebal',
       'basedoncomicbook', 'basedonnovel', 'basedontruestori',
       'basedonyoungadultnovel', 'basketbal', 'battl', 'beach', 'bear',
       'beat', 'beauti', 'becaus', 'becom', 'befor', 'befriend', 'begin',
       'believ', 'belov', 'ben', 'benstil', 'berlin', 'best',
       'bestfriend', 'betray', 'better', 'big', 'biographi', 'birthday',
       'black', 'blackmail', 'blood', 'bodi', 'bomb', 'bond', 'book',
       'born', 'boss', 'box', 'boy', 'boyfriend', 'break', 'bring',
       'british', 'brother', 'brotherbrotherrelationship',
       'brothersisterrelationship', 'brucewilli', 'brutal', 'buddi',
       'build', 'busi', 'businessman', 'california', 'camp', 'cancer',
       'captain', 'captur', 'car', 'care', 'career', 'carri', 'case',
       'cast', 'cat', 'catch', 'caught', 'caus', 'celebr', 'center',
       'centuri', 'century', 'challeng', 'chanc', 'chang', 'charact',
       'charg', 'charli', 'chase', 'chicago', 'child', 'childhood',
       'children', 'china', 'christian', 'christma', 'church', 'cia',
       'citi', 'city', 'civil', 'claim', 'class', 'classic',
       'clinteastwood', 'close', 'club', 'coach', 'collect', 'colleg',
       'come', 'comedi', 'comic', 'comingofag', 'command', 'commit',
       'commun', 'compani', 'compet', 'competit', 'complet', 'complic',
       'comput', 'confront', 'connect', 'conspiraci', 'continu',
       'control', 'convict', 'convinc', 'cop', 'corpor', 'corrupt',
       'countri', 'country', 'coupl', 'courag', 'cours', 'court', 'cover',
       'crash', 'creat', 'creatur', 'crew', 'crime', 'crimin', 'cross',
       'crush', 'curs', 'dad', 'danc', 'dancer', 'danger', 'danni',
       'dark', 'date', 'daughter', 'david', 'day', 'dead', 'deadli',
       'deal', 'dealer', 'death', 'decid', 'deep', 'defeat', 'defend',
       'demand', 'demon', 'desert', 'desir', 'desper', 'despit',
       'destroy', 'detect', 'determin', 'develop', 'die', 'differ',
       'dinosaur', 'direct', 'director', 'disappear', 'discov',
       'discoveri', 'divorc', 'doctor', 'documentari', 'doe', 'doesn',
       'dog', 'don', 'door', 'dr', 'dragon', 'drama', 'drawn', 'dream',
       'drink', 'drive', 'driver', 'drug', 'drugdeal', 'dure',
       'duringcreditssting', 'dyinganddeath', 'dystopia', 'earli',
       'earth', 'east', 'eccentr', 'effort', 'elit', 'embark', 'emot',
       'encount', 'end', 'enemi', 'engag', 'england', 'english', 'enlist',
       'enter', 'entir', 'epic', 'escap', 'especi', 'estrang', 'eve',
       'event', 'eventu', 'everi', 'everyon', 'everyth', 'evil', 'ex',
       'execut', 'exist', 'experi', 'explor', 'explos', 'expos', 'extrem',
       'eye', 'face', 'fail', 'faith', 'fall', 'fame', 'famili', 'family',
       'famou', 'fantasi', 'far', 'farm', 'fast', 'fate', 'father',
       'fathersonrelationship', 'fbi', 'fear', 'featur', 'feel', 'fellow',
       'femal', 'femalenud', 'fiction', 'fight', 'fighter', 'figur',
       'film', 'filmmak', 'final', 'flashback', 'fli', 'florida',
       'follow', 'food', 'forc', 'foreign', 'forest', 'forever', 'form',
       'franc', 'frank', 'free', 'freedom', 'french', 'friend', 'friends',
       'friendship', 'funer', 'futur', 'future', 'game', 'gang',
       'gangster', 'gay', 'gener', 'georg', 'ghost', 'gift', 'girl',
       'girlfriend', 'global', 'god', 'goe', 'gold', 'gone', 'good',
       'gore', 'govern', 'graduat', 'great', 'greatest', 'green', 'group',
       'grow', 'grown', 'guard', 'gun', 'guy', 'ha', 'half', 'hand',
       'happen', 'happi', 'hard', 'harri', 'haunt', 'head', 'heart',
       'heist', 'helicopt', 'hell', 'help', 'henri', 'hero', 'hi', 'hide',
       'high', 'highschool', 'hip', 'hire', 'histori', 'hit', 'hitman',
       'hold', 'holiday', 'hollywood', 'home', 'hometown', 'hop', 'hope',
       'horror', 'hors', 'hospit', 'hostag', 'hot', 'hotel', 'hour',
       'hous', 'house', 'human', 'hunt', 'hunter', 'husband', 'ice',
       'idea', 'ident', 'ii', 'ill', 'immigr', 'includ',
       'independentfilm', 'india', 'indian', 'infidel', 'innoc', 'insid',
       'inspir', 'instead', 'intellig', 'intern', 'interview', 'inventor',
       'investig', 'invit', 'involv', 'irish', 'island', 'isn', 'isol',
       'jack', 'jackson', 'jail', 'jame', 'japan', 'jason', 'jealousi',
       'jean', 'jewish', 'jim', 'jimmi', 'job', 'joe', 'john', 'join',
       'journalist', 'journey', 'jungl', 'just', 'justic', 'kevin', 'key',
       'kid', 'kidnap', 'kids', 'kill', 'killer', 'king', 'kingdom',
       'knight', 'know', 'known', 'la', 'lake', 'land', 'late', 'later',
       'latest', 'law', 'lawyer', 'lead', 'leader', 'learn', 'leav',
       'led', 'lee', 'left', 'legend', 'legendari', 'letter', 'lie',
       'life', 'light', 'like', 'line', 'littl', 'live', 'lives', 'll',
       'lo', 'local', 'london', 'londonengland', 'lone', 'long', 'look',
       'lord', 'losangel', 'lose', 'lost', 'love', 'loveofone', 'lover',
       'luck', 'mad', 'mafia', 'magic', 'major', 'make', 'male', 'man',
       'manag', 'mani', 'mark', 'marri', 'marriag', 'martialart',
       'martin', 'marvelcom', 'mask', 'master', 'match', 'mattdamon',
       'max', 'mean', 'medic', 'meet', 'member', 'memori', 'men',
       'mental', 'mercenari', 'mexican', 'mexico', 'michael', 'middl',
       'mike', 'militari', 'million', 'mind', 'miss', 'mission', 'mob',
       'mobster', 'modern', 'mom', 'money', 'monster', 'month', 'mother',
       'mountain', 'movi', 'movie', 'mr', 'murder', 'music', 'musician',
       'mutant', 'mysteri', 'nation', 'natur', 'nazi', 'near', 'need',
       'neighbor', 'neighborhood', 'neo', 'new', 'newlov', 'newyork',
       'newyorkc', 'nick', 'nicolascag', 'night', 'nightclub', 'nightmar',
       'noth', 'notori', 'novel', 'nuclear', 'nuditi', 'number', 'obsess',
       'ocean', 'offer', 'offic', 'old', 'older', 'onc', 'onli', 'open',
       'oper', 'opportun', 'order', 'ordinari', 'organ', 'origin',
       'orphan', 'outlaw', 'overcom', 'owner', 'pair', 'pal', 'parent',
       'parents', 'pari', 'park', 'parti', 'partner', 'pass', 'passion',
       'past', 'path', 'paul', 'pay', 'peac', 'peopl', 'people',
       'perfect', 'perform', 'person', 'peter', 'photograph', 'pilot',
       'pirat', 'place', 'plan', 'plane', 'planet', 'play', 'player',
       'plot', 'point', 'polic', 'polit', 'politician', 'popular',
       'possess', 'possibl', 'post', 'power', 'pregnant', 'prepar',
       'present', 'presid', 'prevent', 'priest', 'princ', 'princess',
       'prison', 'privat', 'problem', 'process', 'produc', 'profession',
       'professor', 'program', 'promis', 'prostitut', 'protect', 'prove',
       'psychiatrist', 'psychopath', 'public', 'pull', 'pursu', 'queen',
       'quest', 'question', 'quickli', 'race', 'radio', 'rais', 'rape',
       'ray', 'reach', 'readi', 'real', 'realiti', 'realiz', 'realli',
       'rebel', 'receiv', 'recent', 'record', 'recov', 'recruit',
       'relationship', 'releas', 'remain', 'remak', 'remot', 'report',
       'rescu', 'research', 'resid', 'resist', 'respons', 'rest',
       'restaur', 'result', 'retir', 'return', 'reunit', 'reveal',
       'reveng', 'revenge', 'rich', 'richard', 'ride', 'right', 'ring',
       'rise', 'risk', 'rival', 'rivalri', 'road', 'rob', 'robberi',
       'robert', 'robertdeniro', 'robot', 'rock', 'role', 'romanc',
       'romant', 'romanticcomedi', 'room', 'rule', 'run', 'russian',
       'ruthless', 'ryan', 'safe', 'sam', 'samuell', 'san', 'save',
       'savingtheworld', 'scene', 'scheme', 'school', 'sciencefict',
       'scientist', 'scott', 'sea', 'search', 'season', 'second',
       'secret', 'secretident', 'secur', 'seek', 'seemingli', 'seen',
       'self', 'sell', 'send', 'sent', 'separ', 'sequel', 'seri',
       'serial', 'serialkil', 'serv', 'servic', 'set', 'seven', 'sever',
       'sex', 'sexual', 'share', 'shark', 'sheriff', 'ship', 'shock',
       'shootout', 'shop', 'shot', 'sign', 'sinc', 'singer', 'singl',
       'sister', 'sistersisterrelationship', 'situat', 'skill', 'slasher',
       'slave', 'slif', 'small', 'smalltown', 'snow', 'social', 'societi',
       'soldier', 'someth', 'son', 'soon', 'soul', 'south', 'space',
       'special', 'spend', 'spi', 'spirit', 'spoof', 'sport', 'stage',
       'stand', 'star', 'start', 'state', 'station', 'stay', 'steal',
       'step', 'steve', 'stolen', 'stop', 'store', 'stori', 'storm',
       'story', 'strand', 'strang', 'stranger', 'street', 'strike',
       'struggl', 'student', 'stumbl', 'success', 'suddenli', 'suffer',
       'suicid', 'summer', 'superhero', 'supernatur', 'superpow',
       'surpris', 'surviv', 'survivor', 'suspect', 'suspens', 'taken',
       'tale', 'talent', 'talk', 'target', 'task', 'teach', 'teacher',
       'team', 'technolog', 'teen', 'teenag', 'televis', 'tell',
       'terrifi', 'terror', 'terrorist', 'test', 'texa', 'themselv',
       'thi', 'thief', 'thing', 'think', 'thought', 'threat', 'threaten',
       'thriller', 'tim', 'time', 'timetravel', 'togeth', 'told', 'tom',
       'tortur', 'tough', 'tour', 'town', 'track', 'tragedi', 'train',
       'transform', 'transport', 'trap', 'travel', 'tri', 'trial', 'trip',
       'troubl', 'true', 'trust', 'truth', 'turn', 'tv', 'twin', 'ultim',
       'uncl', 'uncov', 'undercov', 'underground', 'underworld',
       'unexpect', 'unit', 'univers', 'unlik', 'usa', 'usapresid', 'use',
       'vacat', 'vampir', 'van', 'variou', 'veri', 'veteran', 'victim',
       'video', 'villag', 'villain', 'violenc', 'violent', 'virgin',
       'viru', 'visit', 'wa', 'wait', 'wake', 'walk', 'wall', 'want',
       'war', 'warrior', 'watch', 'water', 'way', 'wealthi', 'weapon',
       'wed', 'week', 'west', 'western', 'white', 'widow', 'wife',
       'wifehusbandrelationship', 'wild', 'william', 'win', 'winter',
       'wish', 'wit', 'witch', 'woman', 'womandirector', 'women', 'won',
       'woodyallen', 'work', 'worker', 'world', 'worldwarii', 'writer',
       'wrong', 'year', 'years', 'york', 'young', 'younger', 'youth',
       'zombi'], dtype=object)

If you see the words above, the features include same word but in different tenses, plural-singular types, which is not ideal to find similarities. So, we need to convert all the features into their root words using stemming

In [34]:
from nltk.stem.porter import PorterStemmer
ps = PorterStemmer()

Now that we have created the object of PorterStemmer class, let's create a helper function to stem our tags text

In [35]:
def text_stem(text):
    new_tags = []
    for i in text.split():
        new_tags.append(ps.stem(i))
    return " ".join(new_tags)

In [36]:
movies['tags'] = movies['tags'].apply(text_stem)

/var/folders/40/s1y2tk9s1lg1gxbk041r8mhm0000gp/T/ipykernel_8063/2974792824.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies['tags'] = movies['tags'].apply(text_stem)

In [41]:
movies.head(1)

      id   title                                               tags
0  19995  Avatar  in the 22nd century, a parapleg marin is dispa...

We are good to go for calcluating the similarity between the movie vectors. But instead of euclidean distance, we'll use the cosine distance which gives us the angle between the vectors. Lesser the angle, more is the similarity

In [45]:
from sklearn.metrics.pairwise import cosine_similarity
similarity = cosine_similarity(vectors)

Let's create a helper function to recommend top 5 similar movies

In [70]:
def recommend(movie):
    movie_index = movies[movies['title']==movie].index[0]
    five_similar_movies = sorted(list(enumerate(similarity[0])), reverse=True, key=lambda x:x[1])[1:6]
    
    for sim in five_similar_movies:
        print(movies.iloc[sim[0]].title)

In [71]:
recommend('Batman Begins')

Independence Day
Aliens vs Predator: Requiem
Beowulf
Small Soldiers
Titan A.E.

In [74]:
pickle.dump(movies, open('movies.pkl', 'wb'))

In [75]:
pickle.dump(similarity, open('similarity.pkl', 'wb'))